.projects-wrapper {
    width: 100%;
    min-height: 200vh;
    background: linear-gradient(45deg, #ffaf00, #bb02ff);
    background-attachment: fixed;
    animation: about 2s ease-in;
}

@keyframes about {
    from {opacity: 0;}
    to {opacity: 1;}
}   

#page-text {
    position: relative;
    top: 3em;
    text-align: center;
    font-size: 4em;
    font-family: var(--ff-cursive);
    color: var(--clr-light);
}

@media screen and (min-width: 500px) {
    #page-text {
        font-size: 5em;
        top: 2.5em;
    }
}

@media screen and (min-width: 575px) {
    #page-text {
        font-size: 6em;
        top: 2.5em;
    }
}

@media screen and (min-width: 700px) {
    #page-text {
        font-size: 7em;
        top: 1.7em;
    }
}