@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


:root {
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --ff-cursive: 'Brittany Signature', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #FCF8f8;
    --clr-dark: #C1576A;
    --clr-darken: #A83E51;
    --clr-accent: #FCA4A6;

    --fs-h1: 2.5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 768px) {
    :root {
        --fs-h1: 5rem;
        --fs-h2: 5rem;
        --fs-h3: 5rem;
        --fs-body: 1rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
